.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loginFormContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  background-color: transparent;
}

.formTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.inputForm {
  border: 1.5px solid var(--input-border-color);
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 15px;
}

.input {
  margin-left: 10px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}

.input:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.mailIcon,
.icon {
  color: #999;
  width: 20px;
  height: 20px;
}

.buttonSubmit {
  margin-top: 20px;
  background-color: #333333;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.buttonSubmit:hover {
  background-color: var(--primary-color);
}

.flexColumn > label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.successIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkIcon {
  color: #28a745;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.successIcon > p {
  font-size: 18px;
  font-weight: 500;
  color: #28a745;
}
