.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: var(--hero-bg-color);
  border-radius: 8px;
  width: 80%;
  flex-wrap: wrap;
}

.imageUploadSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.imageSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.socialLinks {
  margin: 20px 0 20px 0;
}

.socialLinks input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.uploadImage {
  background-color: rgba(220, 220, 220, 0.7);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.userSvg {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.uploadImage input {
  display: none;
}

.inputField {
  width: 470px;
  height: 50px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.inputField:hover {
  border-color: var(--focus-border-color);
}

.inputField:focus-within {
  border: 1px solid var(--focus-border-color);
}

.inputField.disabledInput {
  cursor: not-allowed;
  background-color: var(--input-border-color);
}

::placeholder {
  opacity: 1;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  gap: 10px;
  margin-bottom: 10px;
}

.inputRow > .inputField:last-child {
  margin-right: 0;
}

.genderSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.genderSection label {
  cursor: pointer;
}

.formSection {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.formSection h3 {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.fileInput {
  margin-bottom: 20px;
}

.personalInfo,
.professionalInfo,
.educationInfo,
.skillsInfo,
.workHistory,
.additionalInfo,
.preferences {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textArea {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
}

.textArea:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.textArea:hover {
  border-color: var(--focus-border-color);
}

.textArea:focus-within {
  border: 1px solid var(--focus-border-color);
}

.footerInputes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.termsAndConditions {
  margin-bottom: 20px;
}

.termsAndConditions label input {
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInfo {
  display: flex;
  align-items: center;
}

.saveButton {
  width: 150px;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Media query for screens between 801px and 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .pageContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .formContainer {
    width: 90%;
    padding: 15px; 
  }

  .imageUploadSection {
    margin-right: 10px;
  }

  .profileImage {
    width: 80px;
    height: 80px;
  }

  .socialLinks input {
    width: 100%;
  }

  .inputField,
  .selectField {
    width: 100%;
    padding: 15px;
  }

  .genderSection {
    width: 100%;
  }

  .saveButton {
    width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}

/* Mobile screens */
@media (max-width: 800px) {
  .pageContainer {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 10px 0 10px;
  }

  .formContainer {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .imageUploadSection,
  .imageSection {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profileImage,
  .uploadImage {
    width: 80px;
    height: 80px;
  }

  .socialLinks {
    width: 100%;
    margin: 10px 0;
  }

  .socialLinks input {
    width: 100%;
  }

  .inputField,
  .selectField,
  .textArea {
    width: 100%;
    padding: 10px;
  }

  .inputRow {
    flex-direction: column;
  }

  .genderSection {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
  }

  .formSection {
    width: 100%;
  }

  .footerInputes {
    flex-direction: column;
    align-items: flex-start;
  }

  .saveButton {
    width: 100%;
  }
}
