.widgetContainer {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 9999;
  margin-top: 30px;
  margin-right: 20vh;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileImage {
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userSvg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName {
  margin: 0;
  font-size: 1.2em;
}

.profileLocation {
  margin: 0;
  color: gray;
}

.fullDivider {
  border-top: 1px solid var(--input-border-color);
  margin: 10px 0;
}

.divider {
  border-top: 1px solid var(--input-border-color);
  margin: 10px 0;
  width: 50%;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.menuItems {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  margin-left: -10px;
}

/* .menuItem i {
  margin-right: 10px;
} */

.icon {
  color: var(--icon-color);
  font-size: 1.1rem;
  margin-right: 10px;
}

.helpIcon {
  color: var(--icon-color);
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.logoutIcon {
  color: var(--icon-color);
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.themeIcon {
  color: var(--icon-color);
  font-size: 1.25rem;
  margin-left: 8px;
  margin-right: 8px;
}

/* Media query for max-width: 800px */
@media (max-width: 800px) {
  .widgetContainer {
    width: 260px;
    z-index: 9999;
    margin-top: 60px;
    margin-left: auto;
    margin-right: 40px;
    right: 0;
    left: 0;
    top: 10px;
  }

  .profileName {
    font-size: 1em;
  }

  .profileLocation {
    font-size: 0.9em;
  }
}

/* Media query for min-width: 801px and max-width: 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .widgetContainer {
    width: 260px;
    z-index: 9999;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 40px;
    right: 0;
    left: 0;
    top: 10px;
  }

  .profileName {
    font-size: 1.1em;
  }

  .profileLocation {
    font-size: 1em;
  }
}
