.uploadButton {
  margin-bottom: 20px;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
}

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.radioLabel:hover {
  background-color: var(--button-bg-color);
}

.radioLabel input[type="radio"] {
  margin-right: 8px;
  accent-color: var(--primary-color);
}

/* Mobile screens */
@media (max-width: 800px) {
  .uploadButton {
    margin-bottom: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
    text-align: center;
    box-sizing: border-box;
  }
}
