.uploadButton {
  margin-bottom: 20px;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
}

/* Mobile screens */
@media (max-width: 800px) {
  .uploadButton {
    margin-bottom: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
    text-align: center;
    box-sizing: border-box;
  }
}
