.chipInputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  width: 470px;
  border-radius: 12px;
}

.chip {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--input-border-color);
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.chipDeleteButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  color: var(--text-color);
}

.chipInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  min-width: 150px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--text-color);
}

/* Media query for screens between 801px and 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .chipInputContainer {
    width: 100%;
    padding: 15px;
  }
}

/* Mobile screens */
@media (max-width: 800px) {
  .chipInputContainer {
    width: 100%;
    padding: 10px;
  }
}
