.chipInputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
  width: 470px;
  border-radius: 12px;
  position: relative;
}

.chip {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--input-border-color);
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.chipDeleteButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  color: var(--text-color);
}

.chipInput {
  width: 470px;
  height: 50px;
  flex-grow: 1;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
  transition: border-color 0.3s ease;
}

.chipInput:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.chipInput:hover {
  border-color: var(--focus-border-color);
}

.chipInput:focus-within {
  border: 1px solid var(--focus-border-color);
}

/* Media query for screens between 801px and 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .chipInputContainer {
    width: 100%;
    /* padding: 15px; */
  }
}

/* Mobile screens */
@media (max-width: 800px) {
  .chipInputContainer {
    width: 100%;
    /* padding: 10px; */
  }
}
