.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: transparent;
  text-align: center;
  color: var(--secondary-color);
  padding: 20px;
}

.image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto 20px;
}

.title {
  font-size: 10rem;
  margin: 0;
  color: var(--text-color);
}

.subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: var(--text-color);
}

.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.joinButton {
  padding: 10px 20px;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  font-family: Poppins;
  transition: background-color 0.3s, padding-left 0.3s;
}

.joinButton:hover {
  background: darken(10%);
  padding-left: 1.5em;
}

.arrowIcon {
  margin-left: 10px;
  font-size: 30px;
  transition: margin-left 0.3s;
}

.joinButton:hover .arrowIcon {
  margin-left: 15px;
}

/* Media query for max-width: 800px */
@media (max-width: 800px) {
  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .joinButton {
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 8px;
  }

  .arrowIcon {
    margin-left: 8px;
  }
}

/* Media query for min-width: 801px and max-width: 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .joinButton {
    padding: 9px 18px;
    font-size: 16px;
    border-radius: 9px;
  }

  .arrowIcon {
    margin-left: 9px;
  }
}
