.searchBoxWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  outline: none;
  color: var(--text-color);
  background: transparent;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
  transition: border-color 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
  opacity: 1;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.input:focus {
  outline: none;
  border-color: #2d79f3;
}

.inputField:hover {
  border-color: #2d79f3;
}

.input:focus-within {
  border: 1px solid #2d79f3;
}

@media (max-width: 800px) {
  .searchIcon {
    display: block;
  }
}
