.searchBoxWrapper {
  position: relative;
  display: flex;
  align-items: center;
  transition: max-width 0.3s ease, padding 0.3s ease;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  outline: none;
  color: var(--text-color);
  background: transparent;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
  transition: max-width 0.3s ease, border-color 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
  opacity: 1;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.input:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.inputField:hover {
  border-color: var(--focus-border-color);
}

.input:focus-within {
  border: 1px solid var(--focus-border-color);
}

@media (max-width: 800px) {
  .searchBoxWrapper {
    padding: 0 10px;
    margin-right: -20px;
  }

  .searchBoxWrapper.expanded {
    padding: 0 20px;
  }

  .input {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease, border-color 0.3s ease;
  }

  .input:focus {
    outline: none;
    border-color: var(--focus-border-color);
  }

  .inputField:hover {
    border-color: var(--focus-border-color);
  }

  .input:focus-within {
    border: 1px solid var(--focus-border-color);
  }

  .searchBoxWrapper.expanded .input {
    max-width: 100%;
    border: 1px solid var(--input-border-color);
  }

  .searchBoxWrapper .input {
    border: none;
  }

  .searchBoxWrapper.expanded .input:focus-within {
    border: 1px solid var(--focus-border-color);
  }

  .searchIcon {
    display: block;
    transform: rotate(0deg);
  }

  .searchBoxWrapper.expanded .searchIcon {
    transform: rotate(360deg);
  }
}
