/* Hero Styles */
.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Content Styles */
.heroContent {
  text-align: center;
  color: #000000;
}

.heroContent h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heroContent p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.heroBtn {
  background-color: #0a1d56;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.heroBtn:hover {
  background-color: #072543;
}
