.footer {
  background-color: var(--button-bg-color);
  padding: 20px;
}

.footerContent {
  margin-bottom: 20px;
}

.footerContent h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 100px;
}

.footerContent hr {
  width: 90%;
  margin: 0 auto;
}

.footerContent p {
  margin-top: 10px;
  margin-left: 100px;
}

.alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 0;
}

/* Footer Links */
.alignment2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 0;
}

.alignment2 p {
  margin: 0;
  margin-left: 100px;
}

.alignment2 .footerLinks {
  margin: 0;
  padding: 0;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.footerLinks li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9rem;
}

.footerLinks li:last-child {
  margin-right: 0;
}

.footerLinks a {
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

/* Media query for tablet screens */
@media only screen and (max-width: 768px) {
  .footerContent h1 {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .footerContent p {
    margin-left: 20px;
  }

  .alignment {
    margin-right: 20px;
  }
}

/* Media query for mobile screens */
@media only screen and (max-width: 480px) {
  .footerContent h1 {
    font-size: 1.2rem;
  }

  .footerContent p {
    margin-left: 10px;
  }

  .alignment {
    margin-right: 10px;
  }

  .alignment2 {
    flex-direction: column-reverse;
  }

  .alignment2 p {
    margin: 20px;
  }

  .footerLinks {
    margin-left: auto;
    margin-right: auto;
  }

  .footerLinks li {
    margin-bottom: 5px;
  }
}
