/* Footer Heading */
.footerHeading {
  color: var(--text-color);
}

/* Footer Container */
.footer {
  background-color: var(--footer-bg-color);
  padding: 20px;
}

/* Footer Content Wrapper */
.footerContent {
  margin-bottom: 20px;
}

.gitLogo {
  width: 30px;
  height: 30px;
  color: var(--text-color);
}

/* Footer Heading Styles */
.footerContent h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 100px;
}

/* Horizontal Line Separator */
.footerContent hr {
  width: 90%;
  margin: 0 auto;
}

/* Footer Text */
.footerContent p {
  margin-top: 10px;
  margin-left: 100px;
}

/* Flexbox Alignment for First Section */
.alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 0;
}

/* Media query for tablet screens */
@media only screen and (max-width: 768px) {
  .footerContent h1 {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .footerContent p {
    margin-left: 20px;
  }

  .alignment {
    margin-right: 20px;
  }
}

/* Media query for mobile screens */
@media only screen and (max-width: 480px) {
  .footerContent h1 {
    font-size: 1.2rem;
  }

  .footerContent p {
    margin-left: 10px;
  }

  .alignment {
    margin-right: 10px;
  }

  .alignment2 {
    /* flex-direction: column-reverse; */
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  .alignment2 p {
    margin: 20px;
  }

  .footerLinks {
    margin-left: auto;
    margin-right: auto;
  }

  .footerLinks li {
    margin-bottom: 5px;
  }
}
