.heroContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.textContainer {
  padding: 40px;
}

.textContainer h1 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 60px;
}

.textContainer p {
  font-size: 22px;
  margin-bottom: 50px;
}

.imageContainer {
  padding: 40px;
}

.imageContainer img {
  height: 500px;
}

/* Media query for screens up to 800px */
@media (max-width: 800px) {
  .heroContainer {
    flex-direction: column;
  }

  .textContainer {
    padding: 20px;
    text-align: center;
  }

  .textContainer h1 {
    font-size: 40px;
  }

  .textContainer p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .imageContainer {
    padding: 20px;
  }

  .imageContainer img {
    height: auto;
    max-width: 100%;
  }
}

/* Media query for screens between 801px and 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .heroContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .textContainer {
    padding: 30px;
  }

  .textContainer h1 {
    font-size: 50px;
  }

  .textContainer p {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .imageContainer {
    padding: 30px;
  }

  .imageContainer img {
    height: 450px;
  }
}
