/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Root Variables */
:root {
  --primary-color: #0a1d56;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #f2f2f2;
}

/* dark-theme */
/* [data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #373737;
  --text-color: #ffffff;
  --button-bg-color: #0a1d56;
} */

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
