/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Root Variables */
:root {
  --primary-color: #0a1d56;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #f2f2f2;

  --icon-color: rgb(60, 60, 60);
  --hero-bg-color: transparent;
  --navbar-bg-color: #ffffff;
  --footer-bg-color: #f2f2f2;

  --color-gray: gray;
}

/* dark-theme */
[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #3b3b3b;
  --text-color: #ffffff;
  --button-bg-color: #0a1d56;

  --icon-color: rgb(240, 240, 240);
  --hero-bg-color: #3b3b3b;
  --navbar-bg-color: #272727;
  --footer-bg-color: #272727;

  --color-gray: rgb(178, 178, 178);
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
