/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Root Variables */
:root {
  --primary-color: #0a1d56;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #f2f2f2;

  --icon-color: rgb(60, 60, 60);
  --navbar-bg-color: #ffffff;
  --footer-bg-color: #f2f2f2;

  --color-gray: gray;
  --button-text-color: #000000;
  --card-bg-color: #f9f9f9;
  --input-border-color: #ecedec;
  --focus-border-color: #2d79f3;

  /* BgComponent Colors */
  --bg-component-skyBlue: #dbf8ff;
  --bg-component-yellow: #f1e362;
  --bg-component-purple: #ad84ff;
  --bg-component-red: #ff3132;
  --bg-component-green: #86fb74;
  --bg-component-darkskyBlue: #badeff;
  --bg-component-Blue: #5856e8;

  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;

  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

/* dark-theme */
[data-theme="dark"] {
  --primary-color: #0a1d56;
  --secondary-color: #121212;
  --text-color: #ffffff;
  --button-bg-color: #333333;

  --icon-color: rgb(200, 200, 200);
  --navbar-bg-color: #1e1e1e;
  --footer-bg-color: #1e1e1e;

  --color-gray: lightgray;
  --button-text-color: #ffffff;
  --card-bg-color: #242424;
  --input-border-color: #444444;
  --focus-border-color: #2d79f3;

  /* Dark Theme BgComponent Colors */
  --bg-component-skyBlue: #004b6b;
  --bg-component-yellow: #b59f00;
  --bg-component-purple: #6b42aa;
  --bg-component-red: #b51e1e;
  --bg-component-green: #4b9f3a;
  --bg-component-darkskyBlue: #3a79a5;
  --bg-component-Blue: #3a3aa5;

  --scrollbar-track-color: #333;
  --scrollbar-thumb-color: #666;
  --scrollbar-thumb-hover-color: #aaa;
}

.theme-transition {
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

/* Layout Styles */
.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BgComponent Styles */
.bgCompWrapper {
  position: fixed;
  z-index: -99999;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
