.icon {
  margin: 0 0 10px 8px;
  cursor: pointer;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  top: -5px;
  left: 20px;
  background-color: var(--color-gray);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 1;
}

.selectField {
  width: 470px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.5px;
}

.selectField:focus {
  outline: none;
  border-color: var(--focus-border-color);
}

.selectField:hover {
  border-color: var(--focus-border-color);
}

.selectField:focus-within {
  border: 1px solid var(--focus-border-color);
}

.selectField option {
  background-color: var(--input-border-color);
  color: var(--text-color);
}


/* Styles for larger screens (desktop) */
.inputRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  align-items: flex-start; 
}

/* Styles for tablet and mobile views */
@media (min-width: 801px) and (max-width: 1024px) {
  .inputRow {
    flex-direction: column;
    gap: 10px;
  }

  .selectField,
  .chipTextField {
    width: 100%;
  }

}

/* Mobile view */
@media (max-width: 800px) {
  .inputRow {
    flex-direction: column;
  }

  .selectField,
  .chipTextField {
    width: 100%;
  }
}

