/* .selectField {
  background: transparent;
  border: 1px solid var(--input-border-color);
  color: var(--text-color);
}

.selectField option {
  background: transparent;
  color: var(--text-color);
} */

.icon {
  margin: 0 0 10px 8px;
  cursor: pointer;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  top: -5px;
  left: 20px;
  background-color: var(--color-gray);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 1;
}
