.exploreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  max-width: 100%; /* Ensure wrapper respects screen width */
}

.mainText {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px; /* Limit max width to prevent text from stretching */
}

.mainText h1 {
  margin: 0;
  margin-right: 10px;
}

.arrowIcon {
  font-size: 2rem;
  vertical-align: middle;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid columns */
  gap: 15px;
  width: 100%;
  max-width: 1200px; /* Limit max width to prevent grid from stretching */
}

.gridItem {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr); /* Show 1 card on mobile */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr); /* Show 2 cards on tablets */
  }
}

@media (min-width: 1025px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr); /* Show 3 cards on laptops and larger screens */
  }
}
