.exploreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  max-width: 100%;
  padding: 0 15px;
  min-height: 50vh;
  box-sizing: border-box;
  margin: 50px 0 60px 0;
}

.mainText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.contentLeft {
  display: flex;
  align-items: center;
}

.contentLeft h1 {
  margin: 0;
  margin-right: 10px;
}

.arrowIcon {
  font-size: 2rem;
  vertical-align: middle;
}

.gridContainer {
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
}

.gridItem {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.leftoverGrid {
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin-top: 15px;
}

.noMatch {
  margin-top: 20px;
  font-size: 18px;
}

/* Media query for screens up to 800px */
@media (max-width: 800px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .exploreWrapper {
    min-height: 63vh;
  }

  .contentLeft h1 {
    font-size: 20px;
  }

  .arrowIcon {
    font-size: 1.3rem;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .leftoverOne .gridItem {
    grid-column: span 2;
  }
}

@media (min-width: 1025px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .leftoverGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .leftoverOne .gridItem {
    grid-column: span 4;
  }

  .leftoverTwo .gridItem {
    grid-column: span 2;
  }
}
