.resumeUploadContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-bottom: 20px;
}

.iconContainer {
  margin-right: 20px;
  font-size: 28px;
  margin-left: 10px;
  color: var(--text-color);
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.subtitle {
  font-size: 14px;
  color: var(--color-gray);
}

.fileInfo {
  display: flex;
  align-items: center;
}

.fileName {
  margin-right: 20px;
}

.fileInput {
  display: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonDelete {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.browseButton {
  padding: 10px 20px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--button-bg-color);
  cursor: pointer;
  color: var(--text-color);
}

.deleteButton svg {
  margin-right: 5px;
}

/* Mobile screens */
@media (max-width: 800px) {
  .iconContainer {
    font-size: 24px;
  }

  .title {
    font-size: 14px;
  }

  .subtitle {
    font-size: 12px;
  }

  .browseButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}
