.card {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--input-border-color);
  background: transparent;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: space-between;
}

.imageWrapper {
  width: 70px;
  overflow: hidden;
  margin-right: 10px;
}

.imageWrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.info {
  width: calc(100% - 100px);
}

.info h2 {
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.companyDetails {
  font-weight: bold;
  color: #78858f;
}
.companyDetails p {
  font-size: 12px;
}
