.card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 500px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.company {
  margin-left: auto;
  font-weight: bold;
  color: gray;
}
