.card {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--input-border-color);
  background: transparent;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  border-color: 0.01px var(--focus-border-color); 
}

.imageWrapper {
  width: 70px;
  overflow: hidden;
  margin-right: 10px;
}

.imageWrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.info {
  width: calc(100% - 100px);
}

.info h2 {
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.companyDetails {
  font-weight: bold;
  color: hsl(206, 9%, 52%);
  text-align: right;
}
.companyDetails p {
  font-size: 12px;
}

/* Media query for mobile screens */
@media (max-width: 800px) {
  .card {
    padding: 10px;
  }

  .imageWrapper {
    width: 60px;
    margin-right: 8px;
  }

  .imageWrapper img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .info {
    width: calc(100% - 80px);
  }

  .info h2 {
    font-size: 14px;
  }

  .info p {
    font-size: 12px;
  }

  .companyDetails p {
    font-size: 10px;
  }
}
