.icon {
  margin: 0 0 10px 8px;
  cursor: pointer;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  top: -5px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 10px;
}

.options span {
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.active {
  font-weight: 600;
  border-bottom: 0.3px solid var(--text-color);
}

/* Tablet styles */
/* Media query for screens between 801px and 1349px */
@media (min-width: 801px) and (max-width: 1349px) {
  .header {
    flex-direction: row;
  }

  .options span {
    font-size: 13px;
    margin-right: 8px;
    padding: 8px 12px;
  }
}

/* Mobile screens */
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .options {
    margin-left: 0;
    margin-top: 10px;
  }

  .options span {
    font-size: 12px;
    margin-right: 8px;
    padding: 10px 14px;
  }
}
